/* Переиспользуемые стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.product-card, .search-result-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.product-card:hover, .search-result-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img, .search-result-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dee2e6;
}

.product-card .card-body, .search-result-card .card-body {
    padding: 1.25rem;
}

.product-card .card-title, .search-result-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.product-card .card-text, .search-result-card .card-text {
    font-size: 1rem;
    color: #6c757d;
}

.card-price {
    font-size: 1rem;
    font-weight: bold;
}

/* Бэйджи */
.badge {
    margin-right: 5px;
    font-size: 0.875rem;
    padding: 0.3rem 0.6rem;
}

/* Кнопки */
.btn-add-to-cart, .btn-buy {
    margin-top: 10px;
}

/* Анимация для всех карточек продуктов */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.product-card, .search-result-card {
    animation: fadeIn 0.5s ease-in-out;
}

.resized-image {
    max-width: 100%; /* Установка максимальной ширины изображения */
    height: auto; /* Автоматическое изменение высоты для сохранения пропорций */
}

span.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* cart.css */

.cart-item {
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100%;
    height: auto;
}

/* Стили для загрузочного оверлея */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет */
    z-index: 9999; /* Выше всех остальных элементов */
    display: none; /* По умолчанию скрыт */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}
