{% extends 'base.html' %}

{% block head %}
<style>
    .card-number {
        font-family: monospace;
        white-space: pre;
    }
    .card-number::after {
        content: ' ';
    }
    .group {
        display: inline-block;
        margin-right: 5px;
    }
    .card-slider {
        overflow-y: auto;
        max-height: 100%;
    }
    .scrollable {
        overflow-y: auto;
        max-height: calc(100% - 50px); /* Adjust height as needed */
    }
    .animated-card {
        animation: fadeInAnimation ease-in-out 0.5s forwards;
    }
    @keyframes fadeInAnimation {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* New styles for compact product cards */
    .compact-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .compact-card img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 10px;
    }
    .compact-card h6 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .compact-card p {
        font-size: 12px;
        margin-bottom: 3px;
    }
    .card-body {
        height: 700px; /* Вы можете установить любую желаемую высоту */
        overflow-y: auto; /* Добавляет полосу прокрутки, если контент выходит за пределы фиксированной высоты */
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col text-end">
            <a href="{{ url_for('manage_orders') }}" class="btn btn-outline-secondary">
                <i class="fas fa-arrow-left"></i> Back
            </a>            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card h-100 card-slider animated-card">
                <div class="card-header">
                    Products Information
                </div>
                <div class="card-body scrollable">
                    {% for item in results %}
                        <div class="compact-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="{{ url_for('view_product', product_id=item.ProductID) }}">
                                        {% if item.ProductImageURL.startswith('http') %}
                                            <img src="{{ item.ProductImageURL }}" class="img-fluid" alt="{{ item.ProductImageURL }}">
                                        {% else %}
                                            <img src="/static/userUploadPhotos/{{ item.ProductImageURL }}" alt="{{ item.ProductImageURL }}" class="img-fluid">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <h6><a href="{{ url_for('view_product', product_id=item.ProductID) }}">{{ item.ProductName }}</a></h6>
                                    <p><a href="{{ url_for('view_product', product_id=item.ProductID) }}">{{ item.ProductDescription | truncate(length=55, end='...') }}</a></p>
                                    <p><a href="{{ url_for('view_product', product_id=item.ProductID) }}">Quantity: {{ item.Quantity }}</a></p>
                                    <p><a href="{{ url_for('view_product', product_id=item.ProductID) }}">${{ item.ProductPrice }}</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 animated-card">
                    <div class="card-header">
                        Order Status
                    </div>
                    <div class="card-body">
                        {% for result in results %}
                            {% if loop.first %}
                                <p><strong>Order#</strong> {{ result.OrderNumber }}</p>
                                <hr/>
                                <p><strong>Email:</strong> {{ result.Email }}</p>
                                <p><strong>Card Number:</strong>
                                    <span>{{ result.CardNumber[:4] }}</span>
                                    <span>{{ result.CardNumber[4:8] }}</span>
                                    <span>{{ result.CardNumber[8:12] }}</span>
                                    <span>{{ result.CardNumber[12:] }}</span>
                                </p>
                                <p><strong>Exp MM/YY:</strong> {{ result.ExpMMYY.split('/')[0] }}/{{ result.ExpMMYY.split('/')[1][-2:] }}</p>
                                <p><strong>Cardholder Name:</strong> {{ result.CardholderName }}</p>
                                <hr/>
                                <p><strong>Total Price (Tax):</strong> ${{ result.TotalPriceTax }}</p>
                                <p><strong>Total Price (No Tax):</strong> ${{ result.TotalPriceNoTax }}</p>
                                <p><strong>Purchase Date:</strong> {{ result.PurchaseDate.strftime('%Y-%m-%d %I:%M %p') }}</p>
                                <hr/>
                                    <div class="row">
                                        <div class="col">
                                            <p><strong>Status:</strong> {{ result.OrderStatus }}</p>
                                        </div>
                                        <div class="col text-end">
                                            {% for result in results %}
                                                {% if loop.first %}
                                                        {% if result.OrderStatusID != 4 or result.OrderStatusID != 5 %}
                                                            <input type="hidden" id="orderNumber" value="{{ result.OrderNumber }}">
                                                            <button class="btn btn-sm btn-primary text-end" id="changeButton">Change</button>
                                                            <button type="submit" hidden class="btn btn-sm btn-success text-end" id="saveButton">Save</button>
                                                            <button hidden class="btn btn-sm btn-danger text-end" id="cancelButton">Cancel</button>
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <select hidden id="status" name="status" class="form-select" data-status="{{ result.OrderStatus }}">
                                                {% for s in status %}
                                                    {% if s.Description == result.OrderStatus %}
                                                        <option value="{{ s.StatusID }}" selected disabled>{{ s.Description }}</option>
                                                    {% else %}
                                                        <option value="{{ s.StatusID }}">{{ s.Description }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>                                        
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class="col">
            <div class="card h-100 animated-card">
                <form action="/update_order_address" method="GET">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    Shipping Details
                                </div>
                                <div class="col text-end">
                                    {% for result in results %}
                                        {% if loop.first %}
                                            {% if result.OrderStatusID == 1 or result.OrderStatusID == 2 %}
                                                <input type="hidden" id="orderNumber" name="orderNumber" value="{{ result.OrderNumber }}">
                                                <button type="submit" class="btn btn-sm btn-primary text-end">Change</button>
                                            {% endif %} 
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% for result in results %}
                                {% if loop.first %}
                                    <p><strong>Address 1:</strong> {{ result.Address1 }}</p>
                                    <p><strong>Address 2:</strong> {{ result.Address2 }}</p>
                                    <p><strong>City:</strong> {{ result.City }}</p>
                                    <p><strong>State:</strong> {{ result.StateName }}</p>
                                    <p><strong>Zip Code:</strong> {{ result.ZipCode }}</p>
                                    <a href="https://www.google.com/maps?q={{ result.Address1 }}, {{ result.Address2 }}, {{ result.City }}, {{ result.StateName }}, {{ result.ZipCode }}" target="_blank" class="btn btn-success">
                                        <i class="fas fa-map-marked-alt"></i> Open in Google Maps
                                    </a>
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}