{% extends 'base.html' %}

{% block head %}
<script>
    function allowOnlyNumbers(event) {
    const key = event.keyCode || event.which;
    if (!(key >= 48 && key <= 57) && key !== 8 && key !== 9 && key !== 13 && key !== 37 && key !== 39 && key !== 46) {
        event.preventDefault();
    }
  }

  function confirmDeleteUser(userName, user_id) {
    if (confirm(`Are you sure you want to delete "${userName}" from the database?`)) {
        var userInput = prompt("Enter the username to confirm deletion:");
        if (userInput === userName) {
            // Показываем загрузочный оверлей
            document.getElementById('loading-overlay').style.display = 'block';

            console.log('Before fetch'); // Проверяем, что код доходит до этой точки
            fetch(`/delete_user/${user_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => {
                console.log('Response:', response); // Проверяем ответ от сервера
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to delete user. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to delete user. Please try again.');
            });
        } else {
            alert("The entered username does not match, deletion canceled.");
        }
    }
}

function showOverlay() {
    document.getElementById('loading-overlay').style.display = 'block';
}

function hideOverlay() {
    document.getElementById('loading-overlay').style.display = 'none';
}

function performAction(button) {
    showOverlay();
    hideOverlay();
}
  </script>
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div id="loading-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; text-align: center; padding-top: 20%;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Deleting...</span>
    </div>
  </div>
    <div class="row mb-2 text-end">
        <div class="row mb-2 text-start">
          <div class="col-sm-3 ms-3">
              <form id="user_dashboard" action="/user_dashboard" method="POST">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="ID" name="userID" id="userID" onkeypress="allowOnlyNumbers(event)" required>
                      <div class="input-group-append">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                      </div>
                  </div>
              </form>
          </div>
          {% if isSearching %}
            <div class="col-sm-1 mt-2">
                <a href="{{ url_for('user_dashboard') }}"><i class="fas fa-sync-alt"></i> Reset</a>
            </div>
          {% endif %}  
          <div class="col text-end">
                <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Return to main page</a>
                <a href="{{ url_for('add_new_user') }}" class="btn btn-primary">Add New User</a>
          </div>
      </div>
    </div>
    
    <!-- Loading overlay -->
    <div id="loading-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; text-align: center; padding-top: 20%;">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <table class="table table-success">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Access Level</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for user in results %}
            <tr>
                <td scope="row">{{ user.ID }}</td>
                <td>{{ user.Username }}</td>
                <td>{{ user.AccessLevelName}} (ID: {{ user.AccessLevelID}})</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName}}</td>
                <td>
                    <a class="btn btn-warning" >Edit</a>
                    <a class="btn btn-danger" onclick="confirmDeleteUser('{{ user.Username }}', '{{ user.ID }}')">Delete</a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}
